@font-face {
  font-family: GoogleSansBold;
  src: url(../font/GoogleSans-Bold.ttf);
}

@font-face {
font-family: GoogleSansRegular;
src: url(../font/GoogleSans-Regular.ttf);
}
body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'GoogleSansBold', sans-serif;
  color: #333;
  background-image: url('../images//bg-pattern.svg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 2% 24px;
  box-sizing: border-box;
}
.navbar-list {
  display: flex;
  margin: 60px 0;
}
.navbar-item a {
  margin-right: 32px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #a29ab4;
}
.container > div:first-child {
  margin: 15% 0;
}
.container > div:first-child > p:first-child {
  font-size: 64px;
  line-height: 72px;
}
.container > div:first-child > p:nth-child(2) {
  color: #666;
  font-family: 'GoogleSansRegular', sans-serif;
  margin: 32px 0;
}
.text-animation {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    	to right,
	    #333,
	    #333 50%,
	    #cca8e3 50%);
  background-size: 200% 100%;
  background-position: 100%;
}
.text-animation:hover {
  transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}
.projects > a {
  position: relative;
  display: block;
  margin-bottom: 56px;
  padding: 24px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  font-family: 'GoogleSansRegular', sans-serif;
}
.projects > a:hover {
  border: 2px solid #cca8e3;
  background-color: #fff;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}
.project-date {
  color: #cca8e3;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
.project-title {
  font-family: 'GoogleSansBold', sans-serif;
  color: #333;
  letter-spacing: 1px;
  margin: 8px 0;
}
.project-description {
  color: #666;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.75;
}
.footer {
  margin: 15% 0 10%;
}
.footer a {
  color: #cca8e3;
  text-decoration: underline;
}